@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.login {
  width: 70%;
  height: 90%;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.loginleft,
.loginRight {
  width: 100%;
  height: 100%;
}
/* .loginleft {
  background-color: black;
} */
.loginleft {
  display: grid;
  place-items: center;
}
.loginleft img {
  height: 80%;
  width: 80%;
}
.loginRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #59d6d6;
  padding: 2rem;
  color: white;
  text-align: center;
}

.inputWithIcon {
  position: relative;
  width: 100%;
}
.inputWithIcon input[type="text"] {
  padding-left: 40px;
}
.inputWithIcon input {
  border: none;
  padding: 0.5em;
  width: 100%;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.inputWithIcon input:focus {
  outline: none;
}
.inputWithIcon img {
  position: absolute;
  left: 0;
  top: 3px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  height: 2.2rem;
}
.inputWithIcon .eyeIcon {
  position: absolute;
  left: 85%;
  top: 3px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  height: 2.2rem;
}

.notificationButton,
.notificationButton:hover {
  background-color: white;
  width: 270px;
  border-radius: 10px;
  color: rgb(89, 215, 214);
}

@media screen and (max-width: 1024px) {
  .loginleft img {
    height: 70%;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .login {
    width: 100%;
    height: 100%;
  }
}
