.allFlaggedUsersFont {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allFlaggedUsersFont1 {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allFlaggedUsersIcon {
  cursor: pointer;
}
