.header-container {
  position: relative;
}

.header-menu {
  position: absolute;
  top: 100px;
  left: 0;
  font-family: "Syncopate", sans-serif;
  letter-spacing: 1px;
  color: #626262;
  text-transform: uppercase;
}

.header-menu li {
  margin: 10px 0;
  font-weight: 600;
}

.header-text {
  font-family: "Syncopate", sans-serif;
  font-size: 12vw;
  text-transform: uppercase;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transform: translate(0, 500);
}
